<app-game-controll (gameStarted)='startGame($event)'></app-game-controll>

<div>
  <app-even *ngFor="let even of evenNumbers" [value]="even"></app-even>
</div>

<div>
  <app-odd *ngFor="let odd of oddNumbers" [value]="odd"></app-odd>
</div>